.home {
  margin-block: 1.25em;
  margin-top: 0;
  display: block;
  cursor: pointer;
}

.home__banner {
  --banner-box-shadow: hsla(0, 0%, 0%, 0.122);
  margin-block: 1.25em;
  display: block;

  transition:
    outline 300ms ease-in-out,
    transform 300ms ease-in-out,
    box-shadow 300ms ease-in-out;

  &:hover,
  &:focus {
    transform: translateY(-1.75px);
    outline: solid 3px var(--clr-purple-light);
    border-radius: var(--border-radius);
    box-shadow: 0 8px 32px var(--banner-box-shadow);
  }

  img {
    border-radius: var(--border-radius);
  }
}

.home__nav {
  display: flex;
  gap: 0.75rem;

  .home__nav__button {
    background: var(--clr-purple-2);
    background: var(--gradient);
    color: var(--clr-light);
    padding: 0.75rem 1em;
    border-radius: calc(var(--border-radius) * 2.5);
    font-weight: 600;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    border: 0;
    &:hover,
    &:focus {
      transform: translateY(-4px);
    }
  }
}
