/* Login.css */

.hero {
  display: grid;
  height: 100vh;
  grid-template-columns: 6fr 4fr;

  .hero__area {
    display: flex;
    justify-content: center;
    align-items: center;

    .hero__area__title {
      font-size: 2.5em;
      color: var(--clr-red);
      position: fixed;
      font-weight: 600;
      top: 1%;
      left: 1.5%;
    }
  }

  .hero__logo {
    display: grid;
    place-content: center;
    background-color: var(--clr-purple-dark-2);

    img {
      max-height: 100vh;
      aspect-ratio: 0.75 / 1;
    }
  }
}

.login,
.register {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5em;
  width: 37.5%;

  img {
    width: 6.25rem;
    aspect-ratio: 1/1;
    border-radius: 50%;
  }

  legend {
    font-size: 1.5em;
    font-weight: 800;
    color: var(--clr-purple-dark-2);
  }

  button {
    background-color: var(--clr-light);
    border: solid 1px var(--clr-grey);
    color: var(--clr-dark);

    &:hover,
    &:focus {
      background-color: var(--clr-blue-trans);
      border: solid 1px var(--clr-blue-trans);
      color: var(--clr-dark);
    }

    img {
      display: block;
      width: 1.25em;
      aspect-ratio: 1/1;
    }
  }

  .age-gender {
    display: flex;
    gap: 1em;
    width: 100%;
  }

  input[type='submit'] {
    background-color: var(--clr-purple-dark-2);
    color: var(--clr-light);
    padding: 1em 3em;
    font-weight: 700;

    &:hover,
    &:focus {
      background-color: var(--clr-purple-dark-2);
      opacity: 0.9;
      color: var(--clr-light);
    }
  }

  small {
    text-align: center;
    a {
      color: var(--clr-red);
    }
  }
}

.register {
  gap: 1em;
  textarea {
    resize: none;
  }
}
